
<html>
  <head>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
     
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var datatable
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
         $.get('/combine', function(data){
          // Combine doesn't yield a string yet
            console.log(data)
            var a = []
            for (var thing in data) {
              a.push([thing, data[thing]])
            }
            console.log(a)

            // a = [
            //   ['Country', 'Population', 'Area'],
            //   ['CN', 1324, 9640821],
            //   ['IN', 1133, 3287263],
            //   ['US', 304, 9629091],
            //   ['ID', 232, 1904569],
            //   ['BR', 187, 8514877]
            // ]
            // console.log(a)

            datatable = google.visualization.arrayToDataTable(a, false);
            var options = {
              title: 'Where'
            };
            chart.draw(datatable, options);
          })
      }
    </script>
  </head>
  <body>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
    {{c}}
  </body>
</html>